<!DOCTYPE html>
<html>
<head>
  <%- include public/partials/head %>
</head>
<body class="ec-ui-phoenix-shopping">
  <%- include public/partials/header %>

  <div id="root"></div>

  <%- include public/partials/footer %>

  <%- include public/partials/mainJs %>
</body>
</html>
