<% if(process.env.HAS_HEADER_FOOTER) { %>
  <div class="ue-header-container header-pepper-true">
    <div class="ue-header">
      <div class="ue-inner ue-clearfix" data-weave-1="headerfooter/widget/header/main"></div>
    </div>
  </div>
<% } %>
